/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*
kleuren
grijs #899CA0 en donkergroen #1C2B32
*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/*////////////////////////
    3. Areas
////////////////////////*/


/*///////////// 3.1 Header /////////////*/

header {
    border: 2px dotted green;
    background-image: url("/assets/images/mountains.jpg");
    background-size: cover;
    background-position: center;
    /*todo: hoogte instellen ?*/
}

.header-tekst {
    border: 2px dotted red;
    max-width: 1000px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: auto;
    /*margin: auto; !* geldt dit voor alle 4 kanten of alleen links en rechts *!*/
    margin-right: auto;
    text-align: center;
    font-size: 10px;
    /*todo: input en button afronden en plaatsen met margin: -1px*/
}

/*///////////// 3.2 Testimonial /////////////*/

main{
    max-width: 100px;
}

/*///////////// 3.3 Support /////////////*/


/*///////////// 3.4 Faq /////////////*/


/*///////////// 3.5 Footer /////////////*/